<div class="system">
  <h2>Configuração</h2>
  <div class="row">
    <div class="col-md-12">
      <label>Lotes Alunos Pista</label>
    </div>
    <div class="col-md-4 form-group">
      <label>1ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-4 form-group">
      <label>2ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-4 form-group">
      <label>3ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-12">
      <label>Lotes Alunos Camarote</label>
    </div>
    <div class="col-md-4 form-group">
      <label>1ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-4 form-group">
      <label>2ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-4 form-group">
      <label>3ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-12">
      <label>Lotes Convidado Pista</label>
    </div>
    <div class="col-md-4 form-group">
      <label>1ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-4 form-group">
      <label>2ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-4 form-group">
      <label>3ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-12">
      <label>Lotes Convidado Camarote</label>
    </div>
    <div class="col-md-4 form-group">
      <label>1ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-4 form-group">
      <label>2ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
    <div class="col-md-4 form-group">
      <label>3ºLote</label>
      <input type="number" class="form-control" min="0">
    </div>
  </div>


</div>