.header-vendas{
  box-shadow: 2px -1px 20px #888888;
  border-radius: 10px;
  max-width: 80vw;
  width: 100%;
  margin: auto;
  margin-top: 1vh;
  padding: 1%;
  th{
    font-size: 0.7rem;
  }
  .title{
    justify-content: center;
  }
  .nome{
    font-size: 24px;
  }


}

.vendas{
  box-shadow: 2px -1px 20px #888888;
  border-radius: 10px;
  max-width: 80vw;
  width: 100%;

  margin: auto;
  margin-top: 5vh;
  padding: 1%;

  .btn {
    margin-right: 1%;

  }
  .nome {
    font-size: 24px;

  }
  .row {
    margin-bottom: 2%;
  }
  .label{
    font-size: 20px;
    margin-right: 2%;
  }
}
