<div class="header-vendas">
  <!-- <div class="row title">
    <label class="nome">{{nomeFesta}} - {{nomeVendedor}}</label>
  </div> -->
  <table class="table">
    <thead>
      <th>Lotes</th>
      <th class="text-center">Aluno Pista</th>
      <th class="text-center">Aluno Alimento</th>
      <th class="text-center">Convidado Pista</th>
      <th class="text-center">Convidado Alimento</th>

    </thead>
    <tbody>
      <tr *ngFor="let item of nLotes">
        <td>{{item.lote > 0 ? item.lote : 'Bixo'}}º Lote</td>
        <td class="text-center">{{item.aluno_pista}}</td>
        <td class="text-center">{{item.aluno_alimento}}</td>
        <td class="text-center">{{item.convidado_pista}}</td>
        <td class="text-center">{{item.convidado_alimento}}</td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="row">
    <div class="col-md-3"><label >Total: {{nConvite}}</label></div>
    <div class="col-md-3"><label >Combo + Alimento: {{nAlimentoCombo}}</label></div>
    <div class="col-md-3"><label >Só Combo: {{nCombo}}</label></div>
    <div class="col-md-3"><label >Só Alimento: {{nAlimento}}</label></div>
  </div> -->

</div>

<div class="vendas">
  <div class="row">
    <div class="col-md-3">
      <button class="btn" [ngClass]="{'btn-primary': tipoVenda == 'aluno','btn-outline-primary': tipoVenda != 'aluno' }"
        (click)="tipoVenda = 'aluno'">Aluno</button>
      <button class="btn"
        [ngClass]="{'btn-primary': tipoVenda == 'convidado','btn-outline-primary': tipoVenda != 'convidado' }"
        (click)="tipoVenda = 'convidado'">Convidado</button>

    </div>
    <div class="col-md-8">
      <input type="text" placeholder="R.A" class="form-control" (keyup.enter)="getAluno()" [(ngModel)]="RA"
        *ngIf="tipoVenda == 'aluno'">
      <input type="text" placeholder="CPF" class="form-control" [(ngModel)]="CPF" *ngIf="tipoVenda == 'convidado'">
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-primary" (click)="getAluno()" *ngIf="tipoVenda === 'aluno'"><i
          class="fa fa-search"></i></button>
      <button class="btn btn-outline-primary" (click)="CPF = cpfAnterior" *ngIf="tipoVenda === 'convidado' && cpfAnterior"><i
          class="fa fa-repeat"></i></button>

    </div>

  </div>
  <div class="row" *ngIf="id_aluno || tipoVenda === 'convidado'">
    <div class="col-md-12" *ngIf="tipoVenda === 'aluno'">
      <label class="nome">{{periodo}} - {{nome}}</label>
    </div>
    <div class="col-md-12" *ngIf="tipoVenda === 'convidado'" style="margin-bottom: 5px;">
      <input type="text" placeholder="Nome do Convidado" [(ngModel)]="nomeConvidado" class="form-control">
    </div>
    <div class="col-md-5">
      <label class="label">Genero:</label>
      <button class="btn" [ngClass]="{'btn-primary': sexo == 'masculino','btn-outline-primary': sexo != 'masculino' }"
        (click)="sexo = 'masculino'">Masculino</button>
      <button class="btn" [ngClass]="{'btn-danger': sexo == 'feminino','btn-outline-danger': sexo != 'feminino' }"
        (click)="sexo = 'feminino'">Feminino</button>
    </div>
    <div class="col-md-5 btn-group">
      <label class="label">Lote:</label>
      <button *ngFor="let item of valores" [hidden]="tipoVenda !== item.tipo" class="btn" (click)="lote = item.lote"
        [ngClass]="{'btn-primary': lote == item.lote,'btn-outline-primary': lote != item.lote }" >{{item.lote > 0 ? item.lote : 'Bixo' }}° Lote</button>
      <!-- <button class="btn" [ngClass]="{'btn-primary': lote == 1,'btn-outline-primary': lote != 1 }" (click)="lote = 1">1°
        Lote</button>
      <button class="btn" [ngClass]="{'btn-primary': lote == 2,'btn-outline-primary': lote != 2 }" (click)="lote = 2">2°
        Lote</button>
      <button class="btn" [ngClass]="{'btn-primary': lote == 3,'btn-outline-primary': lote != 3 }" (click)="lote = 3">3°
        Lote</button> -->
    </div>
  </div>
  <div class="row" *ngIf="id_aluno || tipoVenda === 'convidado'">
    <div class="col-md-12">
      <label class="nome">Opcionais</label>
    </div>
    <div class="col-md-6" *ngIf="flag_camarote">
      <label class="label">Camarote:</label>
      <button class="btn" [ngClass]="{'btn-primary': camarote == 1,'btn-outline-primary': camarote != 1 }"
        (click)="camarote = 1">Sim</button>
      <button class="btn" [ngClass]="{'btn-danger': camarote == 0,'btn-outline-danger': camarote != 0 }"
        (click)="camarote = 0">Não</button>
    </div>
    <div class="col-md-5" *ngIf="flag_alimento">
      <label class="label">Alimento:</label>
      <button class="btn" [ngClass]="{'btn-primary': alimento == 1,'btn-outline-primary': alimento != 1 }"
        (click)="alimento = 1">Sim</button>
      <button class="btn" [ngClass]="{'btn-danger': alimento == 0,'btn-outline-danger': alimento != 0 }"
        (click)="alimento = 0">Não</button>
    </div>
    <div class="col-md-5" *ngIf="flag_formado">
		<label class="label">Formando:</label>
		<button class="btn" [ngClass]="{'btn-primary': formado == 1,'btn-outline-primary': formado != 1 }"
		  (click)="formado = 1">Sim</button>
		
	</div>
	<div class="col-md-5">
		<label class="label">Forma de Pagamento:</label>
		<button class="btn" [ngClass]="{'btn-primary': formaPgto == 'Dinheiro','btn-outline-primary': formaPgto != 'Dinheiro' }"
		  (click)="formaPgto = 'Dinheiro'">Dinheiro</button>
		
		<button class="btn" [ngClass]="{'btn-primary': formaPgto == 'Debito','btn-outline-primary': formaPgto != 'Debito' }"
		  (click)="formaPgto = 'Debito'">Débito</button>

		<button class="btn" [ngClass]="{'btn-primary': formaPgto == 'Credito','btn-outline-primary': formaPgto != 'Credito' }"
		  (click)="formaPgto = 'Credito'">Crédito</button>
	</div>
    <!-- <div class="col-md-4 input-group">


      <label class="label">Combo:</label>
      <button class="btn" [ngClass]="{'btn-primary': combo == 1,'btn-outline-primary': combo != 1 }"
        (click)="combo = 1">Sim</button>
      <button class="btn" [ngClass]="{'btn-danger': combo == 0,'btn-outline-danger': combo != 0 }"
        (click)="combo = 0">Não</button>

      <input type="text" class="form-control" placeholder="Número Ingresso"
        [(ngModel)]="ingresso">
    </div> -->
  </div>
  <div class="row" *ngIf="id_aluno || tipoVenda === 'convidado'">
    <div class="col-md-12">
      <label class="nome">Valor: {{valorFinal() | currency:'BRL'}}</label>
    </div>
    <div class="col-md-12">
      <button class="btn btn-success" (click)="finalizarVenda()">Finalizar Venda</button>
    </div>
  </div>
</div>
